In [1]:
import numpy as nd
import pandas as pd

In [4]:
dict1 = {
    "name": ['riya','rishabh','tanvi','sanjay'],
    "marks": [55,56,67,65],
    "city": ['bhopal','rewa','indore','dhar']}

In [5]:
df = pd.DataFrame(dict1)

In [6]:
df

      name  marks    city
0     riya     55  bhopal
1  rishabh     56    rewa
2    tanvi     67  indore
3   sanjay     65    dhar

In [5]:
df.to_csv('friends.csv') #to convert into excel sheet

NameError: name 'df' is not defined